<!-- <div class="container">
  <div class="row">
      <nav class="navbar">
<div class="navbar"> 
   <ul class="nav">
      
          <li class="active"> <a routerLink="/" class="btn btn-warning">Home</a></li>
          <li> <a routerLink="Create" class="btn btn-warning">Create</a></li>
         
  </ul>
</div>
</nav>
</div>
</div>
<router-outlet></router-outlet> -->

<div class="container">
  <div class="jumbotron jumbotron-fluid" >
    <marquee><h2>Angular Crud</h2></marquee>
  </div>
  <div class="row">
    <div class="col-md-8"><app-employee-list></app-employee-list></div>
    <div class="col-md-4"><app-employee></app-employee></div>
  </div>
</div>
